[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

aiohttp = "*"
click = "*"


[dev-packages]

pylint = "*"
rope = "*"
"autopep8" = "*"
restructuredtext-lint = "*"
logging-tree = "*"
twine = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
pytest-timeout = "*"
pytest-xdist = "*"
"flake8" = "*"
coveralls = "*"
invoke = "*"
pytest-asyncio = "*"
asynctest = "*"
